h3 {
    margin: 0 auto;
    color: green;
    text-align: center;
}

.btn {
    width: 160px;
    height: 35px;
    display: block;
}

.center {
    margin: 15px auto;
    text-align: center;
}

.antic {
    font-family: 'Antic Slab', serif;
}

.oswald {
font-family: 'Oswald', sans-serif;
}